<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/personal_layout}">
<head>
    <meta charset="utf-8">
    <title>My Recipes</title>
</head>
<body>

<div layout:fragment="personal_content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2" style="background-color:rgba(0,0,0,0.5)">
                <div class="card-header" style="color:#E2D139">
                    All Recipes
                </div>
                <div class="card-body">
                    <table class="table table-sm" style="color:#E4E1C8">
                        <thead>
                        <tr style="color:#E2D139">
                            <th>Dish Name</th>
                            <th>Creation Date</th>
                            <th>View Recipe</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="post,iter : ${pageData.getItems()}">
                            <td th:text="${post.getTitle()}"></td>
                            <td th:text="${#calendars.format(post.getCreated(),'dd MMMM yyyy')}"></td>
                            <td>
                                <a th:href="@{'/personal/post/details/' + ${post.getId()} + '?reaction=true'}" type="button" class="btn btn-primary" style="background-color:#6D8DB6">Open</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
